label {
    display: block;
}

body {
    background-color: rgba(249, 249, 128, 0.499);
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
    overflow-y: scroll;
}

table,
tr,
td {
    border: 1px solid black;
}

.gender {
    display: inline;

}

.fgender {
    margin-top: 8px;
    margin-bottom: 15px;
}

img {
    margin: auto;
    margin-left: 10px;
    width: 150px;
    height: 75px;
    object-fit: contain;
}

.image {
    display: flex;
    width: 200px;
    justify-content: center;
    height: 100px;
    background-color: white;
    border: 1px dashed grey;
}

h1 {
    background-color: maroon;
    text-align: center;
    border-bottom: 8px solid red;
    color: rgba(236, 236, 136, 0.967);
    font-style: italic;
}

h2 {
    background-color: green;
    color: white;
    padding-left: 15px;
}

.table {
    background-color: rgba(187, 185, 185, 0.786);
}

h3 {
    color: grey;
}

a {
    text-decoration: none;
}

span {
    font-weight: bold;
}